*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# IntelliJ output #
**/out/*

# SableCC #
sablecc-*/

# SableCC Generated #
PLC++/src/dk/aau/sw402F15/parser

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ files #
#*.iml

# User-specific stuff:
PLC++/.idea/workspace.xml
PLC++/.idea/tasks.xml
PLC++/.idea/dictionaries

# Sensitive or high-churn files:
PLC++/.idea/dataSources.ids
PLC++/.idea/dataSources.xml
PLC++/.idea/sqlDataSources.xml
PLC++/.idea/dynamic.xml
PLC++/.idea/uiDesigner.xml

# Gradle:
PLC++/.idea/gradle.xml
PLC++/.idea/libraries
